sphinx==5.3.0
sphinx_rtd_theme
sphinx_automodapi
nbsphinx
nbsphinx_link
shapely
geopandas
shapely
openpyxl
ipykernel
owslib
# GitHub dependency
git+https://github.com/MESH-Model/MESH-Scripts-PyLib.git